In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("classification.csv")
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [5]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [6]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
svc = SVC()
NB = GaussianNB()
KNN = KNeighborsClassifier(n_neighbors=5)
RF = RandomForestClassifier()
LR = LogisticRegression()

In [9]:
svc.fit(X_train,y_train)
NB.fit(X_train,y_train)
KNN.fit(X_train,y_train)
RF.fit(X_train,y_train)
LR.fit(X_train,y_train)

LogisticRegression()

In [10]:
y_pred_svc = svc.predict(X_test)
y_pred_KNN = KNN.predict(X_test)
y_pred_NB = NB.predict(X_test)
y_pred_RF = RF.predict(X_test)
y_pred_LR = LR.predict(X_test)

C:\Users\Srivatsan\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [11]:
from sklearn.metrics import accuracy_score

print(f"SVC -> Accuracy {accuracy_score(y_pred_svc,y_test)}")

print(f"KNN -> Accuracy {accuracy_score(y_pred_KNN,y_test)}")

print(f"NB -> Accuracy {accuracy_score(y_pred_NB,y_test)}")

print(f"RF -> Accuracy {accuracy_score(y_pred_RF,y_test)}")

print(f"LR -> Accuracy {accuracy_score(y_pred_LR,y_test)}")

SVC -> Accuracy 0.9083333333333333
KNN -> Accuracy 0.9166666666666666
NB -> Accuracy 0.8916666666666667
RF -> Accuracy 0.9166666666666666
LR -> Accuracy 0.8666666666666667

In [21]:
ENSEMBLE_VOTING = pd.DataFrame(
    {"SVC" : y_pred_svc, "KNN" : y_pred_KNN,
     "NB" : y_pred_NB, "RF" : y_pred_RF,
     "LR" : y_pred_LR} )

In [22]:
ENSEMBLE_VOTING

     SVC  KNN  NB  RF  LR
0      0    0   0   0   0
1      0    0   0   0   0
2      0    0   0   0   0
3      0    0   0   0   0
4      0    0   0   0   0
..   ...  ...  ..  ..  ..
115    1    0   1   0   1
116    1    1   1   1   1
117    0    0   0   0   0
118    1    1   1   1   1
119    1    1   1   1   1

[120 rows x 5 columns]

In [23]:
ENSEMBLE_VOTING["Final"] = 0

In [24]:
ENSEMBLE_VOTING

     SVC  KNN  NB  RF  LR  Final
0      0    0   0   0   0      0
1      0    0   0   0   0      0
2      0    0   0   0   0      0
3      0    0   0   0   0      0
4      0    0   0   0   0      0
..   ...  ...  ..  ..  ..    ...
115    1    0   1   0   1      0
116    1    1   1   1   1      0
117    0    0   0   0   0      0
118    1    1   1   1   1      0
119    1    1   1   1   1      0

[120 rows x 6 columns]

In [25]:
for i in range(ENSEMBLE_VOTING.shape[0]):
    z = 0
    o = 0
    for j in range (ENSEMBLE_VOTING.shape[1]-1):
        if (ENSEMBLE_VOTING.iloc[i,j] == 0):
            z+=1
        else:
            o+=1
    if (z>o):
        ENSEMBLE_VOTING.iloc[i,5] = 0
    else:
        ENSEMBLE_VOTING.iloc[i,5] = 1

In [26]:
ENSEMBLE_VOTING

     SVC  KNN  NB  RF  LR  Final
0      0    0   0   0   0      0
1      0    0   0   0   0      0
2      0    0   0   0   0      0
3      0    0   0   0   0      0
4      0    0   0   0   0      0
..   ...  ...  ..  ..  ..    ...
115    1    0   1   0   1      1
116    1    1   1   1   1      1
117    0    0   0   0   0      0
118    1    1   1   1   1      1
119    1    1   1   1   1      1

[120 rows x 6 columns]

In [27]:
y_pred = ENSEMBLE_VOTING.iloc[:,-1].values

In [29]:
accuracy_score(y_pred,y_test)

0.9083333333333333