In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
data = data.drop("CustomerID",axis=1)

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["Gender"] = le.fit_transform(data["Gender"])

In [5]:
data.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       1   19                  15                      39
1       1   21                  15                      81
2       0   20                  16                       6
3       0   23                  16                      77
4       0   31                  17                      40

In [6]:
X = data.iloc[:,1:].values

In [7]:
def KMeans(X,K,epochs=100):
    centroids = X[np.random.choice(X.shape[0],K)]
    
    for i in range (epochs):
        distances =  np.sqrt(((X - centroids[:, np.newaxis])**2).sum(axis=2))
        labels = np.argmin(distances,axis=0)
        
        for k in range (K):
            centroids[k] = X[labels==k].mean(axis=0)
    
    return centroids,labels

In [8]:
centroids,labels = KMeans(X,4)

In [9]:
centroids

array([[32, 86, 81],
       [40, 87, 18],
       [52, 46, 39],
       [25, 40, 62]], dtype=int64)

In [10]:
labels

array([3, 3, 2, 3, 3, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 2, 2, 2, 2, 3, 2, 2, 3, 2, 2, 2, 3,
       2, 2, 3, 3, 2, 2, 2, 2, 2, 3, 2, 2, 3, 2, 2, 3, 2, 2, 3, 2, 2, 3,
       3, 2, 2, 3, 2, 2, 2, 3, 2, 3, 2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2,
       2, 3, 2, 3, 3, 3, 2, 2, 2, 2, 3, 2, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0], dtype=int64)

In [11]:
data = data.drop("Gender",axis=1)

In [12]:
%matplotlib qt

In [13]:
import matplotlib.pyplot as plt

In [14]:
fig = plt.figure(figsize = (20,20))

ax = fig.add_subplot(211,projection="3d")

ax.scatter(data[labels==0]["Age"], data[labels == 0]["Annual Income (k$)"], data[labels == 0]["Spending Score (1-100)"],color="red")
ax.scatter(data[labels==1]["Age"], data[labels == 1]["Annual Income (k$)"], data[labels == 1]["Spending Score (1-100)"],color="blue")
ax.scatter(data[labels==2]["Age"], data[labels == 2]["Annual Income (k$)"], data[labels == 2]["Spending Score (1-100)"],color="green")
ax.scatter(data[labels==3]["Age"], data[labels == 3]["Annual Income (k$)"], data[labels == 3]["Spending Score (1-100)"],color="yellow")

In [15]:
plt.show()