In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")

In [4]:
ratings = ratings[:10000]
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
ratings_matrix = ratings.pivot_table(index = "userId", columns = "movieId",values = "rating").fillna(0)

In [7]:
movie_sim = cosine_similarity(ratings_matrix.T)

In [8]:
def recommendations(movie_title,movie_sim=movie_sim):
    idx = movies[movies["title"] == movie_title].index[0]
    similar_movies = list(enumerate(movie_sim[idx]))
    return similar_movies

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
similar_movies = recommendations("Jumanji (1995)")

In [12]:
similar_movies = sorted(similar_movies, key = lambda x: x[1], reverse=True)

In [18]:
indices = []
for i in range (1,8):
    indices.append(similar_movies[i][0])

In [20]:
print("Recommendations: \n")
for i in indices:
    print(movies.iloc[i,:-1],"\n")

Recommendations:

movieId                                                  321
title      Strawberry and Chocolate (Fresa y chocolate) (...
Name: 317, dtype: object

movieId                            688
title      Operation Dumbo Drop (1995)
Name: 674, dtype: object

movieId                     480
title      Jurassic Park (1993)
Name: 475, dtype: object

movieId                           330
title      Tales from the Hood (1995)
Name: 325, dtype: object

movieId                         493
title      Menace II Society (1993)
Name: 488, dtype: object

movieId                      439
title      Dangerous Game (1993)
Name: 434, dtype: object

movieId               974
title      Algiers (1938)
Name: 953, dtype: object